
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: url('images/explore-the-world.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

.main {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


.navbar {
    background: black;
    padding: 10px 0;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.navbar ul li a:hover {
    background-color: #555;
}

/* Header */
header {
    text-align: center;
    padding: 50px 0;
}

header h1 {
    font-size: 3em;
    color: rgb(39, 222, 222);
}

/* Main sections */
main {
    padding: 20px;
}

section {
    padding: 40px 0;
}

section h2 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 30px;
}

#destinations {
    text-align: center;
}

.columns {
    display: flex;
    justify-content: space-around;
    gap: 20px; 
}

.column {
    flex: 1;
    padding: 10px;
    max-width: 300px; 
}

.column img {
    width: 100%;
    height: auto;
    border-radius: 10px; 
}

.column h3 {
    margin-top: 10px;
    font-size: 1.5em;
}

.column p {
    margin-top: 5px;
    font-size: 1em;
}



#testimonials .columns {
    justify-content: space-between;
}


form {
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

form textarea {
    height: 150px;
}

form button[type="submit"] {
    background-color: #f90;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button[type="submit"]:hover {
    background-color: #ffaa00;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
    margin-top: 20px;
    border-radius: 0 0 10px 10px;
}
