body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(images/calculator.jpeg);
    background-position: center;
    background-size: cover;
    background-color: black;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #a111b8;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 300px;
}

.display {
    background-color: #333;
    color: white;
    font-size: 2em;
    padding: 10px;
    text-align: right;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}

.btn {
    background-color: rgb(175, 204, 12);
    color: #333;
    border: none;
    border-radius: 5px;
    padding: 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.btn:hover {
    background-color: #ddd;
}

.btn:active {
    background-color: #ccc;
}

.gray {
    background-color: #ccc;
    color: #333;
}

.orange {
    background-color: #FFA500;
    color: #fff;
}





